<style type="text/css">
  body { background:#FDE3A7 !important; }
/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  h2,h1 {text-align: center;color:#D35400; }
  h3 {color:#D35400;}
  .table{
     border-style: solid;
     border-width: 2px;
     border-color: #D35400;
     border-bottom-width: 20px;
     border-bottom-color: #D35400
     }
</style>
