.padding-header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}
.padding-header-logo2 {
    padding-top: 35px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

#grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red 5%, yellow 15%, green 60%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(red 5%, yellow 15%, green 60%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(red 5%, yellow 15%, green 60%); /* For Firefox 3.6-15 */
  background: radial-gradient(lightblue 22%,lightyellow,#FDE3A7,orange); /* Standard syntax */
}