
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-new-student {
  padding-left: 200px;
}

.padding-old-student {
  padding-left: 100px;
}

.content-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}





body { 
  /* Safari and Google Chrome */
  background: -webkit-radial-gradient(#E4F1FE, #E4F1FE);
  
  /* Firefox */
  background: -moz-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Opera */
  background: -o-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Internet Explorer */
  background: -ms-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* W3C Standard */
  background: linear-gradient(90deg,lightyellow,#FDE3A7);
  background: radial-gradient(lightyellow,#FDE3A7);
  
  }

.item{
width: 100%;
}

.caption{
font-family: Cambria, Georgia, serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	padding-left: 15px;
}	

.img-container img{
width: 35%;
}
.img-footer{
  /* Safari and Google Chrome */
  background: -webkit-radial-gradient(#E4F1FE, #E4F1FE);
  
  /* Firefox */
  background: -moz-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Opera */
  background: -o-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Internet Explorer */
  background: -ms-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* W3C Standard */
  background: linear-gradient(90deg,lightyellow,#FDE3A7);
  background: radial-gradient(#f2f2f2,#8c8c8c);
font-family: Cambria, Georgia, serif;
  #background: #bfbfbf;
width: 35%;
height: 20%;
margin: auto;
text-align:center;
font-size: 18px;

.reduce-space{
line-height: 0.1;
}

}


