.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-new-student {
  padding-left: 200px;
}

.padding-old-student {
  padding-left: 100px;
}


body { 
  /* Safari and Google Chrome */
  background: -webkit-radial-gradient(#E4F1FE, #E4F1FE);
  
  /* Firefox */
  background: -moz-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Opera */
  background: -o-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* Internet Explorer */
  background: -ms-radial-gradient(#FDE3A7, #FDE3A7);
  
  /* W3C Standard */
  background: linear-gradient(90deg,lightyellow,#FDE3A7);
  background: radial-gradient(lightyellow,#FDE3A7);
  }


   /*body { background-color: #CFCFC4 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   .myNavbar{margin:0 auto; float:none; position:relative;}



   /* navbar */
.navbar-default {
    background-color: lightyellow;
    
}

/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a{
color:          black;
text-shadow:    none;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}